
#Mongo Config
spring.data.mongodb.host=localhost
spring.data.mongodb.port=27017
spring.data.mongodb.database=mongo
spring.data.mongodb.repositories.enabled=true
spring.data.mongodb.username=admin
spring.data.mongodb.password=admin

spring.data.mongobee.changelogs=com.geodiff.changelogs