
#Mongo Config
spring.data.mongodb.host=localhost
spring.data.mongodb.port=27017
spring.data.mongodb.database=geo-mongo
spring.data.mongodb.repositories.enabled=true
spring.data.mongodb.username=admin
spring.data.mongodb.password=admin
spring.data.mongobee.changelogs=com.geodiff.changelogs

# RabbitMQ Config
spring.data.rabbitmq.amqp_uri=amqp://guest:guest@localhost:5672/%2f
spring.data.rabbitmq.res_queue=RESULT_QUEUE
spring.data.rabbitmq.task_queue=TASK_QUEUE

# Nasa API
spring.data.nasa.api_token=6k9ilibCQcusmZl9RRczizWjFC7K0gkviEt2G4Qa
spring.data.nasa.cloudscore_max=0.2
spring.data.nasa.dimension=0.025

# Server Config
server.port=8097
server.protocol=http
server.host=localhost