<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"  layout:decorate="~{layout.html}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>GeoDiff | Comparing Surface</title>
    <script>
      document.addEventListener('DOMContentLoaded', function(event) {
          //<![CDATA[
          let baseURL = "[[${url}]]";
          /*]]>*/
          GeoImage.init(baseURL);
      });
    </script>
</head>
<body>
<section class="result-container rounded" layout:fragment="content">
    <div>
        <div id="map" class="map rounded"></div>
        <section id="result-groups-100" class="box rounded">
            <div id="geometry-type-100">
                <form class="form-inline">
                    <label>Geometry type &nbsp;</label>
                    <select id="type">
                        <option value="Box" selected>Box</option>
                        <option value="None">None</option>
                    </select>
                </form>
                <p>Select a geometry type from the dropdown above to start drawing. To finish drawing, click the last point. To activate freehand drawing for lines, polygons, and circles, hold the <code>Shift</code> key.</p>
            </div>
        </section>
    </div>
    <div class="menu-options rounded">
        <div id="rate-api">
        </div>
        <h4>Date Intervals:</h4>
        <div>
            <label for="begin-date">Begin: </label>
            <input id="begin-date" value="2016-04-29" type="date">
        </div>
        <div>
            <label for="end-date">End: </label>
            <input id="end-date" type="date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
        </div>
        <h4>Filter Options:</h4>
        <ul>
            <li>
                <input type="checkbox" id="deforestation-resource" value="deforestation" checked="true">
                <label for="deforestation-resource">Deforestation Filter</label>
            </li>
            <li>
                <input type="checkbox" id="flooding-resource" value="deforestation" checked="true">
                <label for="flooding-resource">Flooding Filter</label>
            </li>
            <li>
                <input type="checkbox" id="drought-resource" value="deforestation" checked="true">
                <label for="drought-resource">Drought Filter</label>
            </li>
            <li>
                <input type="checkbox" id="raw-resource" value="deforestation">
                <label for="raw-resource">No Filter</label>
            </li>
        </ul>
        <p><strong>Remainder</strong>: Cloudy images don't have filter options (Only 'No Filter').</p>
    </div>
</section>
</body>
</html>
