body {
    background-color: #546d52;
}

.rounded {
    border-radius: 5px;
}

.logo-container {
    display: flex;
    height: 60px;
    background-color: #d1dcda;
    padding: 1%;
}

.logo-container img{
    width: 60px;
    margin: 0.3%;
}

.title-container{
    display: block;
}


.title-container h2, p{
    margin: 2% 0%;
}

a.button {
    background-color: #b8b0b0;
    border-radius: 2px;
    padding: 2%;
    text-decoration: none;
    color: initial;
}

a.button:hover {
    background-color: #13b706;
    color: white;
}

.pop-up {
    background-color: white;
    border-radius: 2px;
    padding: 0
    text-decoration: none;
    color: initial;
    padding: 5px;
    margin: 2px;
}

.pop-up::before {
  content: "";
  display: block;
  width: 0px;
  border-width: 0px 74px 12px 0px
  border-style: solid;
  border-color: #ffffff transparent;
}

.pop-up:hover {
    background-color: #13b706;
    color: white;
    cursor: pointer;
}

.pop-up:hover::before {
  border-color:  #13b706 transparent;
}

.result-container{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "map sidebar";
    height: 500px;
    margin: 0.5%;
}

#mapdiv{
    grid-area: map;
    padding: 2%;
    margin: 1%;
}

.menu-options{
    grid-area: sidebar;
    padding: 10%;
    background-color: #d1dcda;
    margin: 0% 0% 0% 4%;
}

.menu-options ul{
    list-style: none;
    padding: 2%;
}

.box {
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1%;
    height: 70px;
    background-color: #d1dcda;
}

/*Para los divs de años meses y dias*/
#results-dates-100  > div:not(.path) {
    margin: 0% 0.5%;
    margin-top: 25px;
}

#results-dates-100  .path {
    display: block;
    position: absolute;
    width: 76%;
    height: 20;
    border-bottom: 2px solid;
}

#results-dates-100  .path a:hover{
    cursor: pointer;
    background-color: #13b706;
}

#results-dates-100 {
    display: flex;
    height: 100%;
}

.no-recieved {
   background-color: grey;
   color: white;
}

.selected-group {
  background-color: #105bd8;
  color: white;
}
